/* your styles go here */
p i.fa,
button i.fa {
  margin: 0 5px;
}

.sidebar-heading h1{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.sidebar-heading h1 a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sidebar-heading:hover h1 a {
  color: #FFB914;
  text-decoration: none;
}

.content-column {
  padding-top: 40px;
  padding-bottom: 60px;
}

.content-column-content .main-details {
  display: flex;
}

@media screen and (max-width: 800px) {
    .content-column-content .main-details {
      flex-wrap: wrap;
  }
}

.content-column-content .image {
  max-width: 350px;
}

.content-column-content .details {
  padding: 10px;
}

.content-column-content .title {
  font-weight: 700;
}

.content-column-content .caption {
padding-top: 10px;
padding-left: 30px;
font-size: 14px;
font-style:italic;
}




/* LINA'S SOCIAL STYLE */

.lina-social {  
  margin-top: 20px;
  margin-bottom:40px;}

.lina-social a:hover {
  text-decoration: none;
}

.lina-social .lina-socialrow{
  margin-top: 20px;
  margin-bottom:20px;
}

.lina-social .lina-socialrow .lina-socialrowelement {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  color: #999999;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.lina-social .lina-socialrow .lina-socialrowelement i {
  vertical-align: middle;
}

.lina-social .lina-socialrow a:hover {
  color: #FFB914;
}


.box-masonry .box-masonry-hover-text-header p {
  color: #555555;
  font-size: 14px;
  background-color: white;
  width: fit-content;
}
.box-masonry .box-masonry-hover-text-header h4 a {
  color: #555555;
  background-color: white;
  padding-left: 3px;
  padding-right: 2px;
}

.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: 0.1;
}


.img-sm {
  max-width: 300px;
}

.img-lg {
  max-width: 500px;
}

.box-masonry-hover-text-header h4 a, .box-masonry-description p {
  font-family: 'Courier Prime', monospace;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-style: normal;
}

.taxonomy {
  font-family: 'Courier Prime', monospace;
  line-height: 1.2;
  font-size: 13px;
  font-style:italic;
}

.taxonomy p {
  margin: 5px;
  color: #555555;
}

.taxonomy p a {
    color: #999999;
}

.taxonomy p a:hover {
  text-decoration: none;
  color: #FFB914;
}

.image-grid {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-grid img {
  margin: 0px;
  object-fit: cover;
  object-position: center;
  width: 200px;
  padding: 5px;
}