<div class="lina-social">
  <div class="lina-socialrow">
    <a href="{{ . }}" class="lina-socialrowelement">
      {{ with .Site.Params.social.instagram }}
      <i class="fa fa-instagram"></i>
      @linahabazi
      {{end}}
    </a>
  </div>
  <div class="lina-socialrow">
    <a href="{{ . }}" class="lina-socialrowelement">
      {{ with .Site.Params.social.facebook }}
      <i class="fa fa-facebook"></i>
      /linahabazi
      {{end}}
    </a>
  </div>
  <div class="lina-socialrow">
    <p class="lina-socialrowelement">
      <i class="fa fa-envelope"></i>
      contact@linahabazi.com
    </p>
  </div>
</div>