{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-12">
      <div class="content-column-content">
        <div class="main-details">
          <div class="image">
            <img src={{.Params.Image}} />
          </div>
          <div class="details">
            <div class="title">
              {{ .Title }}
            </div>
            {{ .Params.Year }} <br>
            {{ .Params.Medium }} <br>
            {{ .Params.Size }}
            <div class="caption">
              {{ .Params.Caption }}
            </div>
          </div>
        </div>
        <div class="content">
          {{.Content}}
        </div>
        <div class="taxonomy">
          <p>
            {{ with .Params.series }}
            Series:
            {{range $i, $e := .}}
            {{ if $i }},{{end}}
            <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{end}}
            {{end}}
          </p>
          <p>
            {{ with .Params.tags }}
            -
            {{ range $i, $e := . }}
            {{ if $i }},{{ end }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{end}}
            {{end}}
          </p>
        </div>
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}