{{/* {{$images := .Params}}

<div class="image-grid">
  {{range $images}}
  <img src={{.}} />
  {{end}}
</div> */}}

<div class="image-grid">
  <div class="image-column">
    <img src="/img/portfolio/business-card-26.jpg" />
  </div>
  <div class="image-column">
    <img src="/img/portfolio/business-card-26.jpg" />
  </div>
  <div class="image-column">
    <img src="/img/portfolio/business-card-26.jpg" />
  </div>
  <div class="image-column">
    <img src="/img/portfolio/business-card-26.jpg" />
  </div>
</div>

{{/* <div class="slider">
  <img src="/img/portfolio/business-card-26.jpg" />
  <img src="/img/portfolio/business-card-26.jpg" />
  <img src="/img/portfolio/business-card-26.jpg" />
  <img src="/img/portfolio/business-card-26.jpg" />
</div> */}}